body{
    background-color: red;
}
.img-container{
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.img-container img{
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .img-container{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: black;
    }
    .img-container img{
        transform: scale(1.5);
    }
}